



.employee-form .ant-input {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 4px 11px;
    color: #282c34;
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff!important;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all 0.3s;
}
.login-employee-form .ant-input:focus, .ant-input-focused {
    border-color: #40a9ff;
    box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
    border-right-width: 1px;
    outline: 0;
    color: #282c34;
    background-color: #fff!important;
}
.password .ant-input-affix-wrapper > input.ant-input {
    padding: 0;
    border: none;
    outline: none;
    color: #282c34;
    display: block;
    display: block!important;
}
.password {
    display: block;
}

.login-employee-form .ant-modal-footer {
    padding: 10px 16px;
    text-align: right;
    background: transparent;
    border-top: 1px solid #f0f0f0;
    border-radius: 0 0 2px 2px;
    display: none!important;
} 

.addemployee-btn .ladda-button[data-loading] .ladda-progress {
    display: block;
}

.addemployee-btn .submit_button_active, .submit_button_active:hover {
    width: 100%;
    background: blue!important;
    color: white;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    line-height: 17px;
    text-align: center;
    height: 50px;
}

.addemployee-btn .ladda-button  {
    color: #fff!important;
    font-size: 14px;
    border: none;
    background: blue!important;
    border-color: blue;
    width: 100%;
    height: 50px;
    position: relative!important;
} 

.addemployee-btn .ladda-button .ladda-spinner {
    position: absolute;
    z-index: 2;
    display: inline-block!important;
    width: 50px;
    margin-top: 0;
    opacity: 0;
    pointer-events: none;
}  